<section class="container-fluid d-flex align-items-center justify-content-center">
    <div class="background"></div>
    <div class="d-flex flex-column justify-content-center all">
        <p class="greetings text-end animate__animated animate__backInLeft">Olá, me chamo Valdir ;)</p>
        <div class="d-flex title justify-content-center align-items-center">
            <h1 class="first-title animate__animated animate__fadeInUp animate__delay-1s animate__slow"><span class="span">FRO</span>NTEND DEVELOPER</h1>
        </div>
    </div>
</section>