<section class="container">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <p>Olá, me chamo Valdir</p>
        <div class="social">
            <h2 class="border-text">FULLSTACK</h2>
            <a href="">
                <img src="../../assets/img/icons8-linkedin.svg" alt="">
            </a>
            <a href="">
                <img src="../../assets/img/icons8-github.svg" alt="">
            </a>
            <a href="">
                <img src="../../assets/img/linkedin.svg" alt="">
            </a>
        </div>
    </div>
</section>