.container-fluid{
    border: 1px solid #FFF;
    /* background-color: #0a0a0a; */
    height: 80vh;
    border-radius: 10px;
    background-color: #0b0b0b76;
    /* box-shadow: 0px 0px 5px 1px  #FFF; */
}

.texts{
    width: 60%;
}

h1{
    font-size: 90px;
    font-weight: 900;
    font-family: "Archivo Black", sans-serif;
    color: #ffffffe5;
}

.description{
    color: #cfcfcf;
    font-weight: 600;
    width: 70%;
}

.card-img{
    width: 600px;
}

.animateText{
    animation: showTexts 1s;
}

.animateImg{
    animation: showImg 2s;
}

@media (max-width:900px) {
    .card-container{
        flex-direction: column !important;
    }

    .container-fluid{
        height: 100%;
    }
}

@media (max-width: 1200px) {
    /* .card-container{
        flex-direction: column !important;
    } */

    h1{
        font-size: 55px;
    }

    .description{
        font-size: 13px;
    }

    .card-img{
        width: 400px;
    }

    .container-fluid{
        height: 100%;
        /* background-color: red; */
        padding-bottom: 50px !important;
        margin: 0 !important;
    }
}

.animateContainer{-webkit-animation:swing-in-left-bck 2s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-left-bck 2s cubic-bezier(.175,.885,.32,1.275) both}

.animateContainer2{-webkit-animation:swing-in-right-bck 2s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-right-bck 2s cubic-bezier(.175,.885,.32,1.275) both}

 @-webkit-keyframes swing-in-left-bck{0%{-webkit-transform:rotateY(-70deg);transform:rotateY(-70deg);-webkit-transform-origin:left;transform-origin:left;opacity:0}100%{-webkit-transform:rotateY(0);transform:rotateY(0);-webkit-transform-origin:left;transform-origin:left;opacity:1}}@keyframes swing-in-left-bck{0%{-webkit-transform:rotateY(-70deg);transform:rotateY(-70deg);-webkit-transform-origin:left;transform-origin:left;opacity:0}100%{-webkit-transform:rotateY(0);transform:rotateY(0);-webkit-transform-origin:left;transform-origin:left;opacity:1}}

 @-webkit-keyframes swing-in-right-bck{0%{-webkit-transform:rotateY(70deg);transform:rotateY(70deg);-webkit-transform-origin:right;transform-origin:right;opacity:0}100%{-webkit-transform:rotateY(0);transform:rotateY(0);-webkit-transform-origin:right;transform-origin:right;opacity:1}}@keyframes swing-in-right-bck{0%{-webkit-transform:rotateY(70deg);transform:rotateY(70deg);-webkit-transform-origin:right;transform-origin:right;opacity:0}100%{-webkit-transform:rotateY(0);transform:rotateY(0);-webkit-transform-origin:right;transform-origin:right;opacity:1}}