<section class="container-fluid d-flex align-items-center justify-content-center">
    <div class="left-side d-flex flex-column align-items-center justify-content-center gap-3">
        <h1 class="title-source border-text-black text-center">SOBRE MIM</h1>
        <p class="text-dark text-center paragraph">
            Olá, prazer! Me chamo Valdir, tenho 27 anos
            Como desenvolvedor frontend, tenho experiência em criar soluções inovadoras que ajudam empresas a otimizar e agilizar seus processos. Sou capacitado no desenvolvimento de recursos e microserviços com os frameworks mais utilizados atualmente, como React.js e Angular 9+. Além disso, tenho sólido conhecimento em tecnologias de backend, como Java/Spring Boot e Node.js.
            <br><br>
            Autodidata em inglês, onde possuo nível B2
        </p>
        <div class="social">
            <div class="social d-flex align-items-center flex-column justify-content-start">
                <div class="first d-flex align-items-center gap-3">
                    <div class="links d-flex gap-1">
                        <a href="https://www.linkedin.com/in/valdir-castro10/" target="_blank">
                            <img src="../../assets/img/icons8-linkedin.svg" alt="">
                        </a>
                        <a href="https://github.com/valdircaf" target="_blank">
                            <img src="../../assets/img/icons8-github.svg" alt="">
                        </a>
                        <a href="https://www.tiktok.com/@beachcodebeats" target="_blank">
                            <img src="../../assets/img/tiktok.svg" alt="">
                        </a>
                    </div>
                </div>          
            </div>
        </div>
    </div>
    <div class="right-side ">
        <img src="assets\img\Foto Perfil.jpg" alt="">
    </div>
</section>
